﻿@model IEnumerable<GradAcademyCSharp.Models.PaidInvoiceModel>

@{
    ViewBag.Title = "PaymentConfirmation";
}

<h2>Payment Confirmation</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountDueBefore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountDueAfter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
    </tr>

    @foreach (var invoice in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => invoice.InvoiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => invoice.AmountDueBefore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => invoice.AmountPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => invoice.AmountDueAfter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => invoice.DueDate)
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to checks", "BackToChecks")
</div>
