﻿@model GradAcademyCSharp.Models.WorkerModel

@using System.Activities.Statements
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Financial Dashboard</h1>
    <br/>
    @if(Model != null)
    {
        <p>Welcome @Model.FirstName @Model.LastName!  Get started with one of the options below.</p>
    }
    else
    {
        <p class="lead">Login to get started</p>
        @Html.ActionLink("Log in", "Login", "Account", null, new { @class = "btn btn-primary btn-lg" })
    }
</div>

@if (Model != null)
{
    <div class="row">
        <div class="col-md-4">
            <h2>Manage Payments</h2>
            <p>Schedule and verify payments from incoming clients to the correct invoices</p>
            @Html.ActionLink("Payments", "Index", "Payment", new { id = Model.Id }, new { @class = "btn btn-lg btn-primary" })
        </div>
        <div class="col-md-4">
            <h2>Client List</h2>
            <p>Edit client information as it goes out of date.</p>
            @Html.ActionLink("Client List", "Index", "Client", null, new {@class = "btn btn-lg btn-primary"})
        </div>
        <div class="col-md-4">
            <h2>Update Profile</h2>
            <p>Update your personal and contact information for your profile.</p>
            @Html.ActionLink("Profile", "Details", "Worker", new { id = Model.Id }, new { @class = "btn btn-lg btn-primary" })
        </div>
    </div>
}

